In [2]:
import pandas as pd
import numpy as np
import random
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import svm
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [26]:
churn_2_classes = pd.read_csv('https://www.dropbox.com/s/4l8l5u9k5bpbk77/churn_2_classes.csv?dl=1', index_col=0)
churn_3_classes = pd.read_csv('https://www.dropbox.com/s/6lzrfy4afncpcta/churn_3_classes.csv?dl=1', index_col=0)

In [4]:
churn_2_classes

,days_since_last_order,median_order_type,days_since_last_contact,monthly_mean_order_vol,yearly_mean_cust_rev,status
2288,1,raw_ingredients,12,1483,1466,active
869,4,finished_goods,6,1400,1279,active
4619,4,raw_ingredients,1,1419,1218,active
5651,12,raw_ingredients,9,1184,1443,active
6237,11,raw_ingredients,4,614,914,active
...,...,...,...,...,...,...
3841,7,raw_ingredients,2,1362,1277,active
4279,5,raw_ingredients,7,637,635,active
8813,7,finished_goods,12,641,777,active
8294,5,raw_ingredients,2,519,1290,active
7855,8,finished_goods,6,522,947,active

In [5]:
churn_3_classes

,days_since_last_order,median_order_type,days_since_last_contact,monthly_mean_order_vol,yearly_mean_cust_rev,status
9728,2,raw_ingredients,10,813,1206,active
3374,10,raw_ingredients,4,1402,1246,active
884,11,finished_goods,7,635,1479,active
8910,12,raw_ingredients,14,771,809,active
9075,10,raw_ingredients,6,1362,1185,active
...,...,...,...,...,...,...
8113,12,raw_ingredients,12,1127,560,active
9809,6,raw_ingredients,5,1280,897,active
7739,9,raw_ingredients,4,1147,549,active
256,9,finished_goods,11,1100,1322,active
2355,7,raw_ingredients,4,1497,1018,active

In [6]:
X = churn_2_classes[['days_since_last_order', 'days_since_last_contact', 'monthly_mean_order_vol', 'yearly_mean_cust_rev']]
y = churn_2_classes[['status']]
le = preprocessing.LabelEncoder()
le.fit(y)
y.loc[:,'status'] = le.transform(churn_2_classes['status'])
y = y['status']

/Users/antonio/miniconda3/envs/trainings/lib/python3.9/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/antonio/miniconda3/envs/trainings/lib/python3.9/site-packages/pandas/core/indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [7]:
X

,days_since_last_order,days_since_last_contact,monthly_mean_order_vol,yearly_mean_cust_rev
2288,1,12,1483,1466
869,4,6,1400,1279
4619,4,1,1419,1218
5651,12,9,1184,1443
6237,11,4,614,914
...,...,...,...,...
3841,7,2,1362,1277
4279,5,7,637,635
8813,7,12,641,777
8294,5,2,519,1290
7855,8,6,522,947

In [8]:
y

2288    0
869     0
4619    0
5651    0
6237    0
       ..
3841    0
4279    0
8813    0
8294    0
7855    0
Name: status, Length: 11000, dtype: int64

In [9]:
ss = ShuffleSplit(n_splits=3, test_size=0.25, random_state=0)
gbc = GradientBoostingClassifier(n_estimators=100, max_depth=20)
svc = LinearSVC(max_iter=10000)

gbc_scores = []
svc_scores = []

In [10]:
for train_index, test_index in ss.split(X):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    gbc.fit(X_train, y_train)
    svc.fit(X_train, y_train)
    
    gbc_y_pred = gbc.predict( X_test )
    svc_y_pred = svc.predict( X_test )

    gbc_scores.append(accuracy_score(gbc_y_pred, y_test))
    svc_scores.append(accuracy_score(svc_y_pred, y_test))

/Users/antonio/miniconda3/envs/trainings/lib/python3.9/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
/Users/antonio/miniconda3/envs/trainings/lib/python3.9/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
/Users/antonio/miniconda3/envs/trainings/lib/python3.9/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

In [11]:
gbc_scores

[0.9643636363636363, 0.9669090909090909, 0.9705454545454546]

In [12]:
svc_scores

[0.2701818181818182, 0.9301818181818182, 0.9087272727272727]

In [13]:
confusion_matrix(gbc_y_pred, y_test)

array([[2480,   65],
       [  16,  189]])

In [14]:
confusion_matrix(svc_y_pred, y_test)

array([[2496,  251],
       [   0,    3]])

In [15]:
X = churn_3_classes[['days_since_last_order', 'days_since_last_contact', 'monthly_mean_order_vol', 'yearly_mean_cust_rev']]
y = churn_3_classes[['status']]
le = preprocessing.LabelEncoder()
le.fit(y)
y.loc[:,'status'] = le.transform(churn_3_classes['status'])
y = y['status']

/Users/antonio/miniconda3/envs/trainings/lib/python3.9/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/antonio/miniconda3/envs/trainings/lib/python3.9/site-packages/pandas/core/indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [16]:
ss = ShuffleSplit(n_splits=3, test_size=0.25, random_state=0)
gbc = GradientBoostingClassifier(n_estimators=100, max_depth=20)
svc = LinearSVC(max_iter=10000)

gbc_scores = []
svc_scores = []

In [17]:
for train_index, test_index in ss.split(X):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    gbc.fit(X_train, y_train)
    svc.fit(X_train, y_train)
    
    gbc_y_pred = gbc.predict( X_test )
    svc_y_pred = svc.predict( X_test )

    gbc_scores.append(accuracy_score(gbc_y_pred, y_test))
    svc_scores.append(accuracy_score(svc_y_pred, y_test))

/Users/antonio/miniconda3/envs/trainings/lib/python3.9/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
/Users/antonio/miniconda3/envs/trainings/lib/python3.9/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
/Users/antonio/miniconda3/envs/trainings/lib/python3.9/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

In [18]:
gbc_scores

[0.9573333333333334, 0.9596666666666667, 0.9556666666666667]

In [19]:
svc_scores

[0.9043333333333333, 0.902, 0.8996666666666666]

In [20]:
confusion_matrix(gbc_y_pred, y_test)

array([[2497,   92,    4],
       [   9,  161,   17],
       [   0,   11,  209]])

In [21]:
confusion_matrix(svc_y_pred, y_test)

array([[2506,  242,   30],
       [   0,    9,   16],
       [   0,   13,  184]])

In [22]:
ss = ShuffleSplit(n_splits=3, test_size=0.25, random_state=0)
gbc = GradientBoostingClassifier(n_estimators=100, max_depth=20)
svc = LinearSVC(max_iter=10000, class_weight='balanced')

gbc_scores = []
svc_scores = []

In [23]:
for train_index, test_index in ss.split(X):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    gbc.fit(X_train, y_train)
    svc.fit(X_train, y_train)
    
    gbc_y_pred = gbc.predict( X_test )
    svc_y_pred = svc.predict( X_test )

    gbc_scores.append(accuracy_score(gbc_y_pred, y_test))
    svc_scores.append(accuracy_score(svc_y_pred, y_test))

/Users/antonio/miniconda3/envs/trainings/lib/python3.9/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
/Users/antonio/miniconda3/envs/trainings/lib/python3.9/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
/Users/antonio/miniconda3/envs/trainings/lib/python3.9/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

In [24]:
gbc_scores

[0.959, 0.959, 0.9563333333333334]

In [42]:
svc_scores

[0.8963333333333333, 0.8846666666666667, 0.8916666666666667]

In [25]:
confusion_matrix(svc_y_pred, y_test)

array([[2506,  237,   29],
       [   0,    2,    1],
       [   0,   25,  200]])

In [44]:
#complete a model selection for this gbc vs linearsvc...

In [ ]:
#plot decision boundary using example here
https://scikit-learn.org/stable/auto_examples/tree/plot_iris_dtc.html